flask
gunicorn
openai
yt-dlp
python-dotenv
firebase-admin
PyJWT
requests
beautifulsoup4
pytz
dateparser
python-telegram-bot==20.7
duckduckgo-search
requests-html
speechrecognition
pyttsx3
pywhatkit
pyautogui
gTTS
pygame
